div.form {
    position: relative;
    border:2px solid lightblue;
    border-radius: 16px;
    border-width: 3;
    max-width: 500;
    height: 360;
    text-align: center;
    margin: auto;
    margin-top: 20;
}

label {
    font-size: larger;
    color:black;
    /* position: absolute; */
    left: 50;

}


input[type=text], select{
    margin-top: 30px;
    margin-bottom: 6px;
    margin-left: 20px;
    /* margin: 40px 10px; */
    font-size: large;
    width: 50%;
    padding: 4px 15px;
    display: inline-block;
    background-color:azure;
    border: 2px solid rgb(173, 172, 172);
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=password] {
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 20px;
    /* margin: 40px 10px; */
    font-size: large;
    width: 50%;
    padding: 4px 20px;
    display: inline-block;
    background-color:azure;
    border: 2px solid rgb(173, 172, 172);
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=text]:hover {
    background-color:rgb(227, 235, 241);
}

input[type=number]:hover {
    background-color:rgb(227, 235, 241);
}

input[type=button] {
    width: 12%;
    /* height: 30%; */
    background-color:aliceblue;
    color: black;
    padding: 3px 5px;
    /* margin: 20px px; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    /* border:; */
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

input[type=button]:hover {
    background-color: rgb(0, 190, 230);
    color: aliceblue;
}

img.prof {
    margin: 10 10;

}

#tip{
    color: red;
    visibility:hidden;
    margin-top:5px;
    margin-left: 40px;
}